
// COLOR SECTION //
$text-color: #222222;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternarary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: white;

// FONT-SECTION //
$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: 'Titllium Web', Georgia, serif;

// SIZES //
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
